.fav {
  .container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    .ingridients {
      cursor: pointer;
      list-style: none;
    }
    .favourites {
      padding: 10px;
      background: #d7ec15;
    }
  }
}

$timeout: 500ms;
$list-item-max-height: 30px;

.fade-enter {
  max-height: 0;
  opacity: 0;
}
.fade-enter-active {
  max-height: $list-item-max-height;
  opacity: 1;
  transition: all $timeout;
}
.fade-exit {
  max-height: $list-item-max-height;
  opacity: 1;
}
.fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all $timeout;
}
